<%- include('partials/top') %>
    

    <div class="container" style="order: 3px solid red;
                                margin-top: 10px;
                                padding-top: 5px;
                                 width: 100%;
                                 padding-bottom: 5px;
                                 background-color: #1b2234;
                                 border-radius: 10px;
                                 argin-top: 60px;">
        <h1 class="text-center" style="background-color: 6bb4;"><span class="material-symbols-outlined">
            token
            </span> KsTU Portal ChatBox Assistance <span class="material-symbols-outlined">
                token
                </span></h1>
    
        <div class="mdia" style="background-color: rgb(152, 104, 14);
                            text-align: center;
                            margin: 0px  0 3px 0;
                            ">I will be assisting you only on your KsTU Portal problems</div>
        <!-- <img src="" alt="" class="rounded-circle float-left img-thumbnail " style="width: 30px; eight: 30px; float: left;"> -->
        <!-- <div class="media-body" style="margin-left: 10px; background-color: blueviolet; float: left;">
            <h4 class="mt-0">Wifi App</h4>
            <span>Online</span> 
        </div> -->

        <div id="chatContainner" class="container border overflow-auto" style="height: 260px;
                                                                                
                                                                                background-color: #1d2c47;
                                                                                overflow-y: auto; 
                                                                                order: 1px solid #ccc;
                                                                                adding: 10px;
                                                                                border-radius: 15px 0 15px 0;
                                                                                color: white;
                                                                                ">
        
        </div>

        <div class="input-group">
            <input type="text" style="margin-right: 30px;" class="form-control hover none" id="textbox" placeholder="Ask me anything about KsTU Portal Connection">
            
            <div class="input-group-append">
                <button type="button" class="btn-rimary" style="background-color: #2f4877;" id="sendBtn">Send</button>
            </div>
        </div>




    </div>

    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="./js1/portalConnection.js"></script>
     <%- include('partials/down') %>
</body>
</html>

